<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="content">
        <div class="content-left">
            <h2 class="content-left-header">Блоги по программированию</h2>
            <p class="parag">Популярные и лучшие публикации по программированию для начинающих</p>
            <p class="parag">и профессиональных программистов и IT-специалистов.</p>
            <div class="imageholder">
                <img src="/images/content-left-image.png" alt="">
            </div>
            <div class="holder">
                <h2 class="under-image">Обзор Report Manager от Webix</h2>
                <p class="under-image2">Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p class="under-image2">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix 
                    с двумя новыми комплексными виджетами. Первый - зто Scheduler, о 
                    котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. 
                    Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p class="under-image2">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                <%- include('partials/options.ejs')%>
            </div> 
            <div class="imageholder">
                <img src="/images/content-left-image2.png" alt="">
            </div>
            <div class="holder">
                <h2 class="under-image">Разработчики изобрели методологию <br> высокоскоростного программирования</h2>
                <p class="under-image2">Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p class="under-image2">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix 
                    с двумя новыми комплексными виджетами. Первый - зто Scheduler, о 
                    котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. 
                    Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p class="under-image2">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                <%- include('partials/options.ejs')%>
            </div> 
            <%
            blog.forEach(item => {
            %>
            <div class="imageholder">
                <img src="<%=item.image%>" alt="">
            </div>
           
            <div class="holder">
                <h2 class="under-image" name="title"><%=item.title%></h2>
                <p class="under-image2"><%=item.author.full_name%></p>
                <p class="under-image2"><%=item.description%></p>
                <p class="under-image2"><%=item.category.name%></p>
                <a href="/detail/<%=item._id%>" class="detaila">details</a>
                <%
                    if(user.toRead && user.toRead.includes(item._id)){
                %>
                        <button onclick="deleteFromToRead('<%=item._id%>')">Добавлен</button>
                    <%
                        }else{
                    %>
                            <button onclick="saveToRead('<%=item._id%>')">Буду читать</button>    
                    <%
                        }
                    %>
                <%
                    if(item.isAdmin){
                %>
                <a href="/edit/<%=item._id%>" class="editt">Редактировать</a>
                <a onclick="deleteBlog('<%=item._id%>', '<%=item.author._id%>')" class="delete">Удалить</a>
                <%
                    }
                %>
                <%- include('partials/options.ejs')%>
            </div> 
            <%
                })
            %>
            <div class="pages">
                <%
                    let localsString = ''
                    if(locals.category){
                        localsString = `categ=${locals.category}&`
                    }
                    if(locals.search){
                        localsString = `search=${locals.search}&`
                    }
                    for(let i = 0; i < pages; i++){
                %>
                        <a href="?<%=localsString%>page=<%=i%>"><%=i+1%></a>
                <%
                    }
                %>
            </div>
        </div>
        <div class="content-right">
            <div class="info">
                <h2 class="h2">Категории</h2>
                <%
                    category.forEach(item => {

                %>
                <a href="?categ=<%=item.key%>"><%=item.name%></a>
                <%
                    })
                %>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>