<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header_profile.ejs')%>
    <div class="content">
        <div class="content-left">
            <div class="profilehead">
                <h2>Мои Блоги</h2>
                <div class="buttoner2">
                    <a href="/new">Новый блог</a>
                </div>
            </div>
            <%
            if(user.toRead.length > 0){
                user.toRead.forEach(item => {
                    console.log(item)
            %>
            <div class="imageholder">
                <img src="<%=item.image%>" alt="">
            </div>
           
            <div class="holder">
                <h2 class="under-image"><%=item.title%></h2>
                <p class="under-image2"><%=item.author.name%></p>
                <p class="under-image2"><%=item.description%></p>
                <p class="under-image2"><%=item.category.name%></p>
                <a href="/detail/<%=item._id%>" class="detaila">details</a>
                <a onclick="deleteFromToRead('<%=item._id%>')" class="delete">Удалить блог</a>
                <%
                    if(item.isAdmin){
                %>
                <a href="/edit/<%=item._id%>" class="editt">Редактировать</a>
                <a onclick="deleteBlog('<%=item._id%>', '<%=item.author._id%>')" class="delete">Удалить</a>
                <%
                    }
                %>
                <%- include('partials/options.ejs')%>
            </div> 
            <%
                })
               }
            %>
        </div>
        <div class="content-right-profile">
            <div class="info2">
                <div class="hold">
                    <div class="profileholder2">
                        <img src="/images/avatar.png" alt="">
                    </div>
                </div>
                <h2 class="namer"><%=user.full_name%></h2>
                <div class="pa">В основном пишу про веб - <br> разработку, на React & Redux </div>
                <div class="pa">97 постов за все время</div>
                <div class="editthold">
                    <div class="editt">
                        <a href="">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>